*{
       margin: 0;
       padding: 0;
}
.main{
 
    background-position: top;
    background-size: cover;
    position: relative;
    
    
    font-family: sans-serif;
}
.navbar{
    width: 95%;
    height: auto;
    margin-left: 30px;
}
.logo{
    color: rgb(235, 67, 21);
    font-size: 50px;
    font-family: sans-serif;
    float: left;
    padding-top: .6%;
    cursor: pointer;
}
.menu{
       width: 600 px;
       float: left;
       height: 70 px;
}
ul{
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}
ul li{
    list-style: none;
    margin-left: 60px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color: rgb(203, 21, 21);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .3s ease;
}
ul li a:hover{
    color: #ff7200;
}
.search-box{
    float: right;
    width: 240px;
    background: #ff7200;
    height: 30px;
    padding: 8px;
    border-radius: 15px;
    margin-top: 1%;
    margin-right: 2%;
}
.search-box.search-txt{
    width: 190px;
    padding: 0 6 px;
}
.search-btn{
    text-decoration: none;
    background: #f7f7f7;
    color: #000;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: #000;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.6px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.text-box{
    width: 90%;
    color: #f7f7f7;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #f7f7f7;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #f7f7f7;
    border: 2px solid #f7f7f7;
    padding: 20px 40 px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn :hover{
    border: 1px solid #ff7200;
    background: #ff7200;
    transition: 1s;
}
@media(max-width: 700 px){
    .text-box h1{
        font-size: 62px;
}
ul li a{
    display: block;
}
ul li{
    position: absolute;
    background: #000;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
}
}